.hero {
    background-image: url('../../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: clip;
    padding-top: 190px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    color: $white;

    @include md {
      padding: 70px 0;
    }
  
    &__headline {
       padding-top: 56px;
    }
  
    &__text {
       margin-top: 0;
       margin-bottom: 18px;
       font-size: 14.4px;
       line-height: 30px;
       letter-spacing: 4px;
       text-transform: uppercase;
       font-family: 'MPLUS1p-Medium', sans-serif;

       @include sm {
         font-size: 11px;
         }
    }
  
    &__title {
       margin: 0 0 70px;

        @include lg {
         max-width: 80%;
        }
  
       strong {
          display: block;
          color: $primary;
       }
    }
  
  &__subheader {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 153%;
    margin-left: -100%;
    padding: 30px 39px 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    @include xl {
      width: 60%;
      margin-left: -20px;
     }

     @include sm {
      width: 92%;
      padding: 10px 15px;
      }
  
    &-text {
      @include sm {
         font-size: 14px;
      }
    }
  
    &-icon {
       transition: all linear .3s;
    }
  
    &-link {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-shrink: 0;
       margin: 0;
       margin-left: 58px;
       width: 48px;
       height: 48px;
       border-radius: 50%;
       background-color: rgba(196, 196, 196, 0.05);
       border: 1px solid rgba(255, 255, 255, 0.5);
       transition: all linear .3s;

       @include md {
         margin-left: 10px;
      }
  
       &:hover {
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 1);
  
          .header-subheader-icon {
             transform: translateX(15%);
          }
       }
    }
  }
  
  &__scroll {
    position: absolute;
    right: -12%;
    top: 34%;


    @include md {
      right: -120px;
      top: 180px;
   }

   @include sm {
       right: -114px;
   }
  
    &-content {
       transform: rotate(90deg);
       display: flex;
       align-items: center;
    }
  
    &-text {
      font-family: 'MPLUS1p-ExtraBold', sans-serif;
       display: inline-block;
       margin-right: 35px;
       font-weight: 800;
       font-size: 12.6px;
       line-height: 26px;
       letter-spacing: 6px;
       text-transform: uppercase;

       @include sm {
         font-size: 10px;
      }
    }
  
    &-btn {
       background-color: transparent;
       outline: transparent;
       border: transparent;
       transform: rotate(-90deg);
       animation: moveDown 1.5s infinite;

    }
    
  }
}